.custom-navbar {
    background-color: #0074c2;
}

.custom-navbar .nav-link, 
.custom-navbar .navbar-brand {
    color: #fffefe;
}

.custom-navbar .nav-link:hover {
    color: #d1ecff;
}

.navbar-toggler {
    background-color: #fffefe;
}
